* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.text-color-1 {
    color: #172D13;
}

.text-color-2 {
    color: #D76F30;
}

/* NAVBARRRR */
.navbar {
    background-color: #172D13;
}


.navbar .nav-item{
    font-family: 'Roboto', sans-serif;
    /* margin-left: 440px; */
}

.navbar .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.navbar-toggler {
    background-color: rgb(64, 64, 64);
    /* background-color: rgb(128, 128, 128); */
    color: #D76F30;
}

.navbar-toggler-icon {
    /* background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgb(255, 255, 255)" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E'); */
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgb(215, 111, 48)" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
}

.btn-close {
    background-color: #D76F30;
}

/* HOMEEEE */
.hero-home {
    background-image: url(../img/hero-bg.svg);
    background-position: center;
    display: flex;
    min-height: 630px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-teks {
    font-family: 'Zen Dots', sans-serif;
    margin-top: 350px;
}

.teks1{
    font-size: 40px;
}

.teks2{
    font-size: 64px;
}

.teks3{
    font-size: 24px;
}
.hero-teks2 {
    font-family: 'Montserrat', sans-serif;
}

.teks-orange {
    color: #D76F30;
}


/* HOMEEE2 */
.hero-home2{
    max-height: 100%;
}

.hero-teks-h2{
    font-family: 'Zen Dots', sans-serif;
}


/* HOMEEEEE3 */
.hero-home3{
    max-height: 100%;
    background-color: #172D13;
}
.deskripsi-h3{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

/* HOMEEEE4 */

.hero-map .map-responsive iframe{
    width: 100%;
}

.footer{
    max-height: 100%;
}

.card-img {
    max-height: 300px;
    background-position: cover;
}

.img-blog {
    max-height: 30%;
    max-width: 85%;
}

/* RESPONSIVEEE */

@media (max-width: 767px){
    .navbar-brand img{
        width: 50px;
    }

    .hero-teks{
        margin-top: 400px;
    }
    .hero-teks .teks1{
        font-size: 20px;
    }
    .hero-teks .teks2{
        font-size: 32px;
    }
    .hero-teks .teks3{
        font-size: 14px;
    }
    .space-tunggu-kami {
        margin-right: 0 !important;;
    }
    .line-tunggu-kami {
        width: 50%;
    }

    .line-tunggu-kami, .subcribe, .logo-medsos {
        margin: auto;
    }
    
}